:root {
    --primary-coloursbig-stone100: rgba(242, 248, 253, 1);
    --primary-coloursbig-stone200: rgba(196, 222, 243, 1);
    --primary-coloursbig-stone300: rgba(144, 195, 233, 1);
    --primary-coloursbig-stone400: rgba(84, 164, 220, 1);
    --primary-coloursbig-stone500: rgba(46, 138, 201, 1);
    --primary-coloursbig-stone600: rgba(31, 109, 170, 1);
    --primary-coloursbig-stone700: rgba(26, 87, 138, 1);
    --primary-coloursbig-stone800: rgba(25, 74, 115, 1);
    --primary-coloursbig-stone900: rgba(26, 63, 96, 1);
    --primary-coloursbig-stone950: rgba(0, 43, 73, 1);
    --primary-coloursteal-blue600: rgba(0, 175, 201, 1);
    --primary-coloursteal-blue700: rgba(0, 139, 161, 1);
    --primary-coloursteal-blue800: rgba(8, 111, 130, 1);
    --primary-coloursteal-blue900: rgba(12, 91, 109, 1);
    --primary-coloursteal-blue950: rgba(0, 59, 73, 1);
    --neutral-100: rgba(250, 250, 250, 1);
    --neutral-200: rgba(245, 245, 245, 1);
    --neutral-300: rgba(229, 229, 229, 1);
    --neutral-400: rgba(212, 212, 212, 1);
    --neutral-500: rgba(161, 161, 161, 1);
    --neutral-600: rgba(115, 115, 115, 1);
    --neutral-700: rgba(82, 82, 82, 1);
    --neutral-800: rgba(64, 64, 64, 1);
    --neutral-900: rgba(23, 23, 23, 1);
    --neutral-950: rgba(10, 10, 10, 1);
    --display-XL-font-family: "Geist", Helvetica;
    --display-XL-font-weight: 700;
    --display-XL-font-size: 32px;
    --display-XL-letter-spacing: -0.64px;
    --display-XL-line-height: 120.00000476837158%;
    --display-XL-font-style: normal;
    --title-XL-font-family: "Geist", Helvetica;
    --title-XL-font-weight: 700;
    --title-XL-font-size: 28px;
    --title-XL-letter-spacing: -0.56px;
    --title-XL-line-height: 120.00000476837158%;
    --title-XL-font-style: normal;
    --title-lg-font-family: "Geist", Helvetica;
    --title-lg-font-weight: 700;
    --title-lg-font-size: 24px;
    --title-lg-letter-spacing: -0.48px;
    --title-lg-line-height: 120.00000476837158%;
    --title-lg-font-style: normal;
    --title-md-font-family: "Geist", Helvetica;
    --title-md-font-weight: 700;
    --title-md-font-size: 20px;
    --title-md-letter-spacing: -0.4px;
    --title-md-line-height: 120.00000476837158%;
    --title-md-font-style: normal;
    --title-sm-font-family: "Geist", Helvetica;
    --title-sm-font-weight: 700;
    --title-sm-font-size: 16px;
    --title-sm-letter-spacing: -0.32px;
    --title-sm-line-height: 120.00000476837158%;
    --title-sm-font-style: normal;
    --body-text-XL-regular-font-family: "Geist", Helvetica;
    --body-text-XL-regular-font-weight: 400;
    --body-text-XL-regular-font-size: 18px;
    --body-text-XL-regular-letter-spacing: 0px;
    --body-text-XL-regular-line-height: 129.99999523162842%;
    --body-text-XL-regular-font-style: normal;
    --body-text-XL-medium-font-family: "Geist", Helvetica;
    --body-text-XL-medium-font-weight: 500;
    --body-text-XL-medium-font-size: 18px;
    --body-text-XL-medium-letter-spacing: 0px;
    --body-text-XL-medium-line-height: 129.99999523162842%;
    --body-text-XL-medium-font-style: normal;
    --body-text-XL-bold-font-family: "Geist", Helvetica;
    --body-text-XL-bold-font-weight: 700;
    --body-text-XL-bold-font-size: 18px;
    --body-text-XL-bold-letter-spacing: 0px;
    --body-text-XL-bold-line-height: 129.99999523162842%;
    --body-text-XL-bold-font-style: normal;
    --body-text-lg-regular-font-family: "Geist", Helvetica;
    --body-text-lg-regular-font-weight: 400;
    --body-text-lg-regular-font-size: 16px;
    --body-text-lg-regular-letter-spacing: 0px;
    --body-text-lg-regular-line-height: 129.99999523162842%;
    --body-text-lg-regular-font-style: normal;
    --body-text-lg-medium-font-family: "Geist", Helvetica;
    --body-text-lg-medium-font-weight: 500;
    --body-text-lg-medium-font-size: 16px;
    --body-text-lg-medium-letter-spacing: 0px;
    --body-text-lg-medium-line-height: 129.99999523162842%;
    --body-text-lg-medium-font-style: normal;
    --body-text-lg-bold-font-family: "Geist", Helvetica;
    --body-text-lg-bold-font-weight: 700;
    --body-text-lg-bold-font-size: 16px;
    --body-text-lg-bold-letter-spacing: 0px;
    --body-text-lg-bold-line-height: 129.99999523162842%;
    --body-text-lg-bold-font-style: normal;
    --body-text-md-regular-font-family: "Geist", Helvetica;
    --body-text-md-regular-font-weight: 400;
    --body-text-md-regular-font-size: 14px;
    --body-text-md-regular-letter-spacing: 0px;
    --body-text-md-regular-line-height: 129.99999523162842%;
    --body-text-md-regular-font-style: normal;
    --body-text-md-medium-font-family: "Geist", Helvetica;
    --body-text-md-medium-font-weight: 500;
    --body-text-md-medium-font-size: 14px;
    --body-text-md-medium-letter-spacing: 0px;
    --body-text-md-medium-line-height: 129.99999523162842%;
    --body-text-md-medium-font-style: normal;
    --body-text-md-bold-font-family: "Geist", Helvetica;
    --body-text-md-bold-font-weight: 700;
    --body-text-md-bold-font-size: 14px;
    --body-text-md-bold-letter-spacing: 0px;
    --body-text-md-bold-line-height: 129.99999523162842%;
    --body-text-md-bold-font-style: normal;
    --body-text-sm-regular-font-family: "Geist", Helvetica;
    --body-text-sm-regular-font-weight: 400;
    --body-text-sm-regular-font-size: 13px;
    --body-text-sm-regular-letter-spacing: 0px;
    --body-text-sm-regular-line-height: 129.99999523162842%;
    --body-text-sm-regular-font-style: normal;
    --body-text-sm-medium-font-family: "Geist", Helvetica;
    --body-text-sm-medium-font-weight: 500;
    --body-text-sm-medium-font-size: 13px;
    --body-text-sm-medium-letter-spacing: 0px;
    --body-text-sm-medium-line-height: 129.99999523162842%;
    --body-text-sm-medium-font-style: normal;
    --body-text-sm-bold-font-family: "Geist", Helvetica;
    --body-text-sm-bold-font-weight: 700;
    --body-text-sm-bold-font-size: 13px;
    --body-text-sm-bold-letter-spacing: 0px;
    --body-text-sm-bold-line-height: 129.99999523162842%;
    --body-text-sm-bold-font-style: normal;
  }  